.heading {
  display: flex;
  width: 100%;
  justify-content: center;
}

.score {
  display: flex;
  width: 100%;
  justify-content: center;
}

.game-container {
  display: flex;
  height: auto;
  width: auto;
  justify-content: center;
  align-content: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 310px;
  width: 410px;
}

img {
  height: 100px;
  width: 100px;
  padding: 1px;
  border-radius: 3px;
}
